@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  background: #318932;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px;
}

section header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

section header .logo {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  letter-spacing: 1px;
}
section header .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: url(menu.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.logo {
  height: 100px;
  width: 300px;
}

.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.teju {
  position: absolute;
  bottom: -110px;
  right: -450px;
  max-height: 110%;
}

.content {
  position: absolute;
  left: 200px;

  max-width: 800px;
  z-index: 10;
}

.content h2 {
  font-size: 3.5em;
  color: white;
  text-shadow: 5px 5px 8px green;
  font-weight: 400;
  line-height: 2em;
}

.content h2 span {
  font-weight: 800;
  font-size: 2em;
  letter-spacing: 50px;
}

.content p {
  color: #fff;
  margin-top: -15px;
  box-shadow: none;
  width: 400px;
}

.content a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.sci {
  
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  box-shadow: 5px 5px 8px green;
}

.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  transform: scale(0.5);
}
.textblocks {
  color: green;
  position: absolute;
  bottom: 0;
  display: flex;
  text-transform: uppercase;
  justify-content: space-evenly;
  align-items: center;
}
.textblocks .blocks {
  position: relative;
  box-shadow: 4px 4px 8px green;

  padding: 20px;
  margin-right: 40px;
  max-width: 400px;
  max-height: 100px;
  background: rgba(231, 221, 221, 1);
}

section .parr {
  height: 100vh;
  width: 100vw;
}
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}
.third {
  border-color: white;
  color: black;
  box-shadow: 0 0 40px 40px white inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  color: black;
  box-shadow: 4px 4px 8px green;
}
